{% extends 'main/base.html' %}
{% block title%}View List{% endblock %}

{% block content %}
    <p><h2>{{ls.name}}</h2></p>
    <form method="post" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                {% if item.complete == True %}
                    <input type="checkbox", value="clicked", name="c{{item.id}}" checked>
                {% else %}
                    <input type="checkbox", value="clicked", name="c{{item.id}}">
                {% endif %}
                </div>
            </div>
            {% if item.complete == True %}
            <input type="text", value="{{item.text}}" class="form-control" style="color:#969696;">
            {% else %}
            <input type="text", value="{{item.text}}" class="form-control" style="font-weight:bold;">
            {% endif %}
        </div>
        {% endfor %}
        
        
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <button type="submit", name="newItem", value="newItem", class="btn btn-info">Add Item</button>
            
            
            <input type="text", name="new">
            
        </div>
        
    </div>
   
            <button type="submit", name="save", value="save" class="btn btn-success">Save</button>
            <button type="submit", name="clear", value="clear" class="btn btn-danger">Clear All Items</button>
            <button type="submit", name="delete", value="delete" class="btn btn-danger btn-sm">Delete Entire To Do List</button>
        
        
    </div>
    
    <div>
        
    </div>
    </form>
{% endblock %} 
